* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*! Section 1 */

.header {
    min-height: 66vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}



nav {
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

.sngLogo {
    padding-left: 20px;
    width: 80px;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-bottom: 10px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: rgb(0, 160, 190);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    margin-top: 5vh;
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    font-size: 14px;
    margin: 10px 0 40px;
    color: white;
}

.contact-us-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.contact-us-btn:hover {
    border: 1px solid rgb(0, 160, 190);
    background-color: rgb(0, 160, 190);
    transition: 0.7s;
}

nav .fa {
    display: none;
}




/*! Section 3 */

.sediu {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgb(110, 190, 190), rgba(0, 0, 0, 0.2));
}

.sediuHeader {
    width: 90%;
    padding: 5%;
    color: white;
    top: 50%;
    left: 50%;
}

.sediuHeader h1 {
    font-size: 40px;
    text-align: center;
}

.informatii {
    padding-top: 3%;
    display: flex;
}

.adresa {
    text-align: left;
    width: 15%;
    padding-right: 8vw;
}

.adresa h1 {
    padding-bottom: 5px;
    font-size: 30px;
}

.adresa p {
    padding-right: 5%;
    padding-top: 3%;
    font-size: 20px;
}

.contact {
    text-align: left;
    width: 15%;
    padding-right: 10vw;
}

.contact h1 {
    font-size: 30px;

}

.contact p {
    padding-right: 5%;
    padding-top: 3%;
    font-size: 20px;

}

.pozaSng {
    padding-left: 5%;
    width: 40%;
    height: 40%;

}

.fb-logo{
    margin-left: 10px;
    margin-top: 20px;
    width: 20%;   
}

.ig-logo{
    margin-left: 10px;
    margin-top: 20px;
    width: 20%;
}
.web-logo{
    margin-left: 10px;
    margin-top: 20px;
    width: 20%;   
}

.logos:hover {
    opacity: 0.7;
}


/*! Section 2*/

.pachete {
    width: 100%;
    height: 170vh;
    background-image: linear-gradient(rgb(55 128 151 / 55%), rgb(110, 190, 190));
}

.pacheteTitle {
    padding-top: 3%;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-bottom: 3%;
}

.pachete h2{
    padding-top: 1%;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 3%;
}

.row {
    display: block;
    color: white;
    justify-content: space-around;
    width: 100%;
    display: flex;
    padding-bottom: 15vh;
}

.border {
    text-align: center;
    border-radius: 20px;
    width: 40%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
}

.more-btn{
    font-size: 30px;
    margin-bottom: 100px;
}



.bg {
    transform: translate(0%, 100%);
}


.bg {
    display: inline-block;
    width: 50%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.4);

}

.bg h2 {
    padding-top: 10px;
    padding-bottom: 18%;
}




.order-btn {
    display: table-cell;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
    border-radius: 20px;
}

.order-btn:hover {
    background-color: rgb(0, 160, 190);
    border: 1px solid rgb(0, 160, 190);

}

.center-alignment{
    text-align: center;
    align-items: center;
    width: 100%;
}

.more-btn{
    color: white;
    
}











/*! About Us Page*/
.aboutHeader {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(110, 190, 190), rgba(0, 0, 0, 0.2));
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.about-us-tb {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-us-tb h1 {
    font-size: 50px;
}

.about-us-tb p {
    font-size: 18px;
    margin: 10px 0 40px;
    color: white;
}

.meet-our-team {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.meet-our-team:hover {
    border: 1px solid rgb(0, 160, 190);
    background-color: rgb(0, 160, 190);
    transition: 0.7s;
}






/*! Pachete Page*/

.pachetePageHeader {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(110, 190, 190), rgba(0, 183, 225, 0.23));
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.boxm h2{
    font-size: 23px;
}

.box1 {
    background-image: url(images/radisson.jpg);
}


.box2 {

    background-image: url(images/somabay.jpg);
}

.box3 {

    background-image: url(images/corfu.jpg);
}

.box4 {

    background-image: url(images/vegas.jpg);
}

.box5{
    background-image: url(images/rome.jpg);
}

.box6{
    background-image: url(images/braga.jpg  );
}

.box7{
    background-image: url(images/cavat.jpg);
}

.box8{
    background-image: url(images/paris.jpg  );
}



/*! Our Team Page*/

.ourTeam {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(110, 190, 190), rgba(0, 183, 225, 0.23));
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.teamTitle{
    margin-left: 20px;
    text-align: left;
}
.teamDepartament h1{
    padding-top: 10px;
    text-align: center;
}
.teamDepartament p{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    
}

.imgHolder{
    
    display: inline-block;
    align-items: center;
    align-self: center;
    align-content: center;
    border-radius: 10%;
    background-image: linear-gradient(#549ca9, #72ddeb );
}

.imgHolder img{
    margin: 20px;
    width: 200px;
    border-radius: 10%;
}

.teamBox{
    display: flex;
}

/*! MediaQuery */

@media(max-width: 700px) {

    /*! Section 1 */
    .header {
        height: 100vh;
    }

    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
        height: 100%;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: left;
        z-index: 2;
        transition: 0.8s;

    }

    nav .fa {
        display: block;
        color: white;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    /*! Section 3 */

    .sediu {
        height: 165vh;
    }

    .informatii {
        display: block;
    }

    .contact {
        width: 90%;
        padding-top: 6%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .adresa {
        width: 90%;
        padding-top: 6%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .pozaSng {
        display: block;
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        margin-bottom: 50px;
    }

    .logos{
        width: 10%;
    }

    /*! Section 2*/

    .pachete {
        height: 240vh;
    }

    .row {

        display: contents;
    }

    .boxm {
        margin-left: 5vw;
        width: 90%;
        margin-bottom: 20px;
    }

    /*! About Us Page*/

    .about-us-tb h1 {
        font-size: 20px;
    }

    .about-us-tb p {
        font-size: 14px;
    }

}